h1 {
  color: #d42426;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body, html{
  background-color: #202020;
  height: 100%;
  min-height: 100%;
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.vcenter{
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.full-height{
  height: 100%;
  min-height: 100%;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  overflow: hidden;
}

.countdown h1 {
  font-family: Amatic SC;
  font-size: 900%;
}


